In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd

In [27]:
Cholecap = pd.read_csv('Cholecap.csv')
Nasalclear = pd.read_csv('Nasalclear.csv')
Novaitch = pd.read_csv('Nova-itch.csv')
Zapapain = pd.read_csv('Zap-a-Pain.csv')

In [30]:
monthstr = "TRx_Month_"
CholecapMonthlyTotals = []
NasalclearMonthlyTotals = []
NovaitchMonthlyTotals = []
ZapapainMonthlyTotals = []

for i in range(6):
  colTotal = Cholecap[monthstr + (str)(i+1)].sum()
  CholecapMonthlyTotals.append(colTotal)
  colTotal = Nasalclear[monthstr + (str)(i+1)].sum()
  NasalclearMonthlyTotals.append(colTotal)
  colTotal = Novaitch[monthstr + (str)(i+1)].sum()
  NovaitchMonthlyTotals.append(colTotal)
  colTotal = Zapapain[monthstr + (str)(i+1)].sum()
  ZapapainMonthlyTotals.append(colTotal)
print(CholecapMonthlyTotals)
print(NasalclearMonthlyTotals)
print(NovaitchMonthlyTotals)
print(ZapapainMonthlyTotals)

[35710, 34087, 34569, 34822, 33965, 36077]
[14575, 14093, 12203, 13793, 14527, 13793]
[14877, 16970, 16713, 16164, 16738, 16210]
[34559, 34660, 37288, 33858, 36170, 35633]

In [31]:
MonthlyTotalsfinalDF = pd.DataFrame({'Month': ['January', 'Feburary', 'March', 'April', 'May', 'June'],
                   'Cholecap': CholecapmonthlyTotals,
                   'Nasaslclear':NasalclearMonthlyTotals,
                   'Novaitch': NovaitchMonthlyTotals,
                   'Zap-a-pain': ZapapainMonthlyTotals})

In [33]:
MonthlyTotalsfinalDF

      Month  Cholecap  Nasaslclear  Novaitch  Zap-a-pain
0   January     35710        14575     14877       34559
1  Feburary     34087        14093     16970       34660
2     March     34569        12203     16713       37288
3     April     34822        13793     16164       33858
4       May     33965        14527     16738       36170
5      June     36077        13793     16210       35633

In [34]:
MonthlyTotalsfinalDF.to_csv('MonthlyTotalsByProduct.csv', index=False)